.figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;
  font-size: 8px;
}

.container-fluid.w1780 {
  max-width: 1780px;
}

header {
  .navbar {}
}
 
// Menu-Close
.navbar-toggler[aria-expanded=true] .navbar-toggler-default {
  display: none;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-toggled {
  display: -ms-flexbox;
  display: flex;
}

.navbar-toggler .navbar-toggler-toggled {
  display: none;
}

//Header
header .pl-VisuallyHidden {
  border: 0;
  padding: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  word-break: normal;
  transform: translateZ(0);
}

.header-contact {border-bottom: 1px solid #ccc;}

//Menu-Header
.navbar-toggler .navbar-toggler-icon .navbar-toggler-bar.bar2, .navbar-toggler .navbar-toggler-icon .navbar-toggler-bar.bar3 {
  margin-top: 7px;
}
.navbar-toggler .navbar-toggler-icon .navbar-toggler-bar {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  background: rgb(255, 255, 255);
  transition: all .2s;
  margin: 0 auto;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-bar.bar1 {
  transform: rotate(
45deg
);
  transform-origin: 10% 10%;
  margin-top: 4px;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-bar.bar2 {
  opacity: 0;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-bar.bar3 {
  transform: rotate(
-45deg
);
  transform-origin: 10% 90%;
  margin-top: 3px;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none;
}


// Topbar
.topbar-contact {
  .topbar-text {
    .topbar-link {
      font-size: 16px; 
      color: #fff;
      text-decoration: none;
    }
    .btn-check:active+.btn-outline-light, .btn-check:checked+.btn-outline-light, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show, .btn-outline-light:active 
    {
      color: #000;
  }
  }
  .navbar-nav-svg {
    width: 21px;
    height: 21px;
    fill: var(--bs-blue);
    color: white
  }
}


// Navbar
.nav-main-header {
  background: #0000009e;
}


.navbar-collapse {
  width: 100%;
}

.navbar .nav-link.topmenu {
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.navbar .nav-link.topmenu .arrow {
  fill: rgb(43, 116, 226)
}



@media only screen and (max-width: 992px) {
  .header-menu-nav.navbar {
    padding: 0;
  }

  .menu .show .arrow:hover {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 992px) {
  header.sticky-top2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 900;
  }
}

//Slider
.slider-freya{background: var(--bs-dark);}
@media (max-width: 991.98px){
  .bd-masthead h1 { font-size: 30px;}
}

.flickity-page-dots{bottom: 7px!important;}

// treugolnick
@media (max-width: 991.98px){
.dropdown:not(.nav-item) .dropdown-menu:before
{
  content: ''; 
  position: absolute;
  left: 20px; bottom: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
}